<h1>Pages#main</h1>
<%= link_to 'genre1', topics_path(genre: 1) %>
<%= link_to 'genre2', topics_path(genre: 2) %>
<%= link_to 'genre3', topics_path(genre: 3) %>
<%= link_to 'genre4', topics_path(genre: 4) %>
